.idea
.VSCodeCounter
.vscode
.vs
.codecheck

build_temp/
target/

src/stdx/encoding/json/native/*.a
src/stdx/encoding/json/native/json_api.h

third_party/zlib
third_party/flatbuffers

third_party/boundscheck-v1.1.16
src/stdx/syntax/NodeFormat_generated.cj
src/stdx/syntax/table.cj
src/stdx/syntax/flatbuffer_object.cj
src/stdx/syntax/decode.cj
src/stdx/syntax/builder.cj
src/stdx/syntax/constants.cj
src/stdx/syntax/exception.cj
build-script-cache
