# Copyright (c) Huawei Technologies Co., Ltd. 2025. All rights reserved.
#
# This source file is part of the Cangjie project, licensed under Apache-2.0
# with Runtime Library Exception.
#
# See https://cangjie-lang.cn/pages/LICENSE for license information.

[package]
  cjc-version = "1.0.5"
  name = "stdx"
  organization = ""
  description = "Extension modules provided by the Cangjie programming language"
  version = "1.0.5"
  target-dir = ""
  script-dir = ""
  src-dir = "src/stdx"
  output-type = "static"
  compile-option = "-Woff=all"
  link-option = ""
  package-configuration = {}

[target.x86_64-unknown-linux-gnu]
  link-option = "-L target/release/stdx -L target/linux_ohos_aarch64_cjnative/static/stdx -L target/linux_x86_64_cjnative/static/stdx -lstdx.encoding.jsonFFI -lstdx.encoding.json.streamFFI -lstdx.compress.zlibFFI -lstdx.compress.tarFFI -lcangjie-dynamicLoader-opensslFFI -lstdx.net.tlsFFI -lstdx.crypto.keysFFI -lstdx.crypto.x509FFI -ldl -lstdx.fuzz.fuzzFFI"

[target.aarch64-apple-darwin]
  link-option = "-L target/release/stdx -L target/darwin_aarch64_cjnative/static/stdx -L /tmp/stdx/target/release/stdx -lstdx.encoding.jsonFFI -lstdx.encoding.json.streamFFI -lstdx.compress.zlibFFI -lstdx.compress.tarFFI -lcangjie-dynamicLoader-opensslFFI -lstdx.net.tlsFFI -lstdx.crypto.keysFFI -lstdx.crypto.x509FFI -ldl -undefined suppress -flat_namespace -lstdx.fuzz.fuzzFFI"

[target.x86_64-w64-mingw32]
  link-option = "-L ${LOCALAPPDATA}/stdx/target/release/stdx -l:libstdx.encoding.jsonFFI.a -l:libstdx.encoding.json.streamFFI.a -l:libstdx.compress.zlibFFI.a -l:libstdx.compress.tarFFI.a -l:libcangjie-dynamicLoader-opensslFFI.dll -l:libstdx.net.tlsFFI.dll -l:libstdx.crypto.keysFFI.dll -l:libstdx.crypto.x509FFI.dll -pthread -lws2_32 -lcrypt32"

[target.x86_64-linux-ohos]
  compile-option = "-B \"${DEVECO_CANGJIE_HOME}/build-tools/third_party/llvm/bin\" -B \"${DEVECO_OH_NATIVE_HOME}/sysroot/usr/lib/x86_64-linux-ohos\" -L \"${DEVECO_OH_NATIVE_HOME}/sysroot/usr/lib/x86_64-linux-ohos\" -L \"${DEVECO_OH_NATIVE_HOME}/llvm/lib/clang/15.0.4/lib/x86_64-linux-ohos\" -L \"${DEVECO_OH_NATIVE_HOME}/llvm/lib/x86_64-linux-ohos\" --sysroot \"${DEVECO_OH_NATIVE_HOME}/sysroot\""

[target.aarch64-linux-ohos]
  compile-option = "-B \"${DEVECO_CANGJIE_HOME}/build-tools/third_party/llvm/bin\" -B \"${DEVECO_OH_NATIVE_HOME}/sysroot/usr/lib/aarch64-linux-ohos\" -L \"${DEVECO_OH_NATIVE_HOME}/sysroot/usr/lib/aarch64-linux-ohos\" -L \"${DEVECO_OH_NATIVE_HOME}/llvm/lib/clang/15.0.4/lib/aarch64-linux-ohos\" -L \"${DEVECO_OH_NATIVE_HOME}/llvm/lib/aarch64-linux-ohos\" --sysroot \"${DEVECO_OH_NATIVE_HOME}/sysroot\""