*.md @luojianing
OAT.xml @xuanjz

/ @ChaosJohn
/.gitcode/ @xuanjz

/src/stdx/compress/ @jiyaun_99
/src/stdx/encoding/ @jiyaun_99
/src/stdx/serialization/ @jiyaun_99

/src/stdx/crypto/ @chongweizhi

/src/stdx/log/ @ChaosJohn
/src/stdx/logger/ @ChaosJohn

/src/stdx/net/ @ovy

#stdx docs
/doc/ @luojianing @renyi43
