*.md @luojianing
OAT.xml @xuanjz

/ @ChaosJohn
/.gitcode/ @xuanjz

/src/stdx/compress/ @jiyaun_99
/src/stdx/encoding/ @jiyaun_99
/src/stdx/serialization/ @jiyaun_99

/src/stdx/crypto/ @chongweizhi

/src/stdx/log/ @ChaosJohn
/src/stdx/logger/ @ChaosJohn

/src/stdx/net/ @ovy

#stdx docs
/doc/ @luojianing
/doc/libs_stdx/compress/ @jiyaun_99 @luojianing
/doc/libs_stdx/encoding/ @jiyaun_99 @luojianing
/doc/libs_stdx/serialization/ @jiyaun_99 @luojianing

/doc/libs_stdx/crypto/ @chongweizhi @luojianing

/doc/libs_stdx/log/ @ChaosJohn @luojianing
/doc/libs_stdx/logger/ @ChaosJohn @luojianing

/doc/libs_stdx/net/ @ovy @luojianing
